<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Name*" formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Price" formControlName="price" type="number" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Quantity" formControlName="quantity" />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    matBadge="8"
    matBadgePosition="before"
    matBadgeColor="accent"
    type="submit"
    [disabled]="!productForm.valid"
  >
    Submit
  </button>
</form>
